* { border: 1px solid black }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Content Content Content Menu"
    "Content Content Content Menu"
    "Footer Footer Footer Footer";
}

.Menu {
  background-color: #6B9CBD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: Menu;
}

.Content {
  background-color: E1EAF1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: Content;
}

.Footer { grid-area: Footer; }
