* { border: 1px solid black }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Menu"
    "Content Content Content Menu"
    "Footer Footer Footer Footer";
}

.Footer { grid-area: Footer; background-color: #FFF;}

.Menu { grid-area: Menu;  background-color: #42AECD;}

.Header { grid-area: Header;background-color: #498BB2;}

.Content { grid-area: Content;   background-color: #E1EAF1;}

